#MainContainer{
    display : flex;
    flex-direction: column;
    background-color:rgb(240, 230, 209);
    margin-left : 15vw;
    font-size: 1vw;
    width : 85vw;
    height: 90vh;
    padding: 3vw;
}
#background{
    width: 100vw;
    height : 100vh;
    background-color: rgb(240, 230, 209);
    position: fixed;
    z-index: -1;
  }
h1{
    margin-bottom: 2vw;
}
#titre{
    margin-left: 1vw;
    font-weight: 600;
    width : 40vw;
}
button {
    margin : 1vh;
}
textarea{
    resize: none;
}