@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


*{

  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}
#MainContainer{
  margin-left: 180px;
}
#background{
  width : 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background-image: url(https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
}
#document{
  background-color: white;
  padding: 1vh;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vw;
  margin-left : 10vw;
  padding: 1vh;
  margin-bottom:1vh ;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}
#document:hover{
  cursor: pointer;
}
p{
  margin-right: 1vw;
}
#supp{
  padding: 0.5vh;
  border-radius: 30px;
  font-size: 0.9vw;
  margin-left: 2vh;
  width: fit-content;
}
#add{
  padding:1vw;
  margin: 2vw;
}
#nom{
  width: fit-content;
}