<div id="MainContainer">
    <div id="pub">
        <div id="publication">
            <div id="titre">
                {{getcurrName(pub.ownerid)}}<br>
                {{pub.datep.toDate()| date:'dd/MM/yyyy HH:mm'}}<br>
                {{pub.titre}}</div>
            <div id="description">{{pub.description}}</div>
            <div id = "Comment">
                <img  src="../assets/Comment.png" style="position: absolute;align-self: center;">
                <div id="nbComment">{{pub.commentaires.length}}</div>
            </div>
        </div>
        <button id="AjoutCom" type="button" class="btn btn-dark" [routerLink]="['/AjouterCommentaireadm',pub.idp]">Ajouter Commentaire</button>
        <button id="delete" type="button" class="btn btn-danger" (click)="deletePub(pub.idp)" >Supprimer pub</button>

    </div>
    <div id="com">
        <div id="commentaire" *ngFor="let t of pub.commentaires">
            {{getcurrName(t.ownerid)}}<br> {{t.datec.toDate()| date:'dd/MM/yyyy HH:mm'}}<br>
            {{t.description}}
            <button id="delete" type="button" class="btn btn-danger" (click)="deleteCmnt(t,t.idc,pub.idp)" >Supprimer</button>

        </div>
    </div>

    <button id="return"  type="button" class="btn btn-danger" [routerLink]="['/forumadm']">Retourner</button>

</div>