#MainContainer{
    display : flex;
    flex-direction: column;
    margin-left : 15vw;
    align-items: center;
    font-size: 1vw;
}
#background{
    width: 100vw;
    height : 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2017/10/14/09/56/journal-2850091_960_720.jpg);
    position: fixed;
    z-index: -1;
    background-size: cover;
  }
#AjoutQs{
    margin-left:13vw;
    font-size: 1vw;
    display: flex;
    width: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Details{
    margin-left:1vw;
    font-size: 1vw;
    display: flex;
    width: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Qcm{
    
    background-color: rgb(238, 217, 186);
    margin : 1vw;
    font-size: 1.4vw;
    padding : 1vw;
    width : 60vw;
    border-radius: 10px;
    position: relative;
    transition: 0.5s all;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    color: white;
}
#Qcm:hover{
    cursor: pointer;
    transform: scale(1.05);
}
#AjoutQCM{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}