<div id="background"></div>
<app-homeens></app-homeens>
<div id="MainContainer">
            <div id="Qcm" *ngFor="let q of QCMs" class="list-group-item"  >
                    Nom Qcm : {{q.nom}}<br>
                    Matiere : {{q.matiere}}<br>
                    Date : {{q.dateqcm.toDate()| date:'dd/MM/yyyy'}}<br>
                    Créer par : {{getcurrName(q.ensid)}}<br>
                    nombre de questions: {{q.questions.length}}<br>
                    <button id="AjoutQs" type="button" class="btn btn-dark" [routerLink]="['/Ajouterqs',q.id]">Ajouter Question</button>
                    <button id="Details" type="button" class="btn btn-success" [routerLink]="['/qcm',q.id]">Details</button>

            </div>
         <button id="AjoutQCM" type="button" class="btn btn-primary" [routerLink]="['/creerQCM']">Ajouter QCM</button>
</div>