<div id="background"></div>
<app-homeens></app-homeens>
<div id="MainContainer">
    <h1 align="center">Ajouter Un Question</h1>
    <div id="publication">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">     
            <div class="form-group">
                <label for="question">Question:</label>
                <textarea  [(ngModel)]="question" id="question" name="question" class="form-control" rows="6"  required></textarea>
            </div>
            <div class="form-group">
                <label for="reponse">Reponse :</label>
                <input ngModel id="reponse" name="reponse" type="text" #reponse="ngModel" required>
            </div>
            <div class="form-group">
                <label for="proposition1">Proposition 1 :</label>
                <input ngModel id="proposition1" name="proposition1" type="text" #proposition1="ngModel" required>
            </div>
            <div class="form-group">
                <label for="proposition2">Proposition 2 :</label>
                <input ngModel id="proposition2" name="proposition2" type="text" #proposition2="ngModel" required>
            </div>
            <div class="form-group">
                <label for="proposition3">Proposition 3 :</label>
                <input ngModel id="proposition3" name="proposition3" type="text" #proposition3="ngModel" required>
            </div>
            <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Ajouter</button>
        </form>
        <button type="button" class="btn btn-danger" [routerLink]="['/QCMens']">Retourner</button>
    </div>
</div>