@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


*{

  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

#leftdiv{
  margin:10px 185px;
  width:53%;
  background:lightslategray ;
    justify-content: center;


}

  
#sideimg{
position: absolute;
top:13%;
left:66.7%;
  width: 450px;
  height: 450px;
  opacity: 0.8;

}
#deposerdiv{
  margin-left:67%;
  width: 32%;
  overflow: hidden;
  background: lightyellow;
  border:solid 1px wheat;


  }
h5{
  text-decoration: underline;
}


