<div  style="background:url('https://raw.githubusercontent.com/ahmedboh/aaqcm/master/src/assets/bg32.jpg') ;background-size:100%; width:auto; height:120vh;">
  <div class="c">
      <br>
      <br>
      <span class="c2"> ANACONDA</span>
      <br>
      <br>
      <br>
      <br>
      <br><br>
      <br>  <br>
      <a [routerLink]="['../login']" class="c1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Connecter
      </a>
  
      <a [routerLink]="['../signup']" class="c1" >
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Inscription
      </a>
  </div>