<div id="background"></div>
<app-homeens></app-homeens>
<div id="MainContainer">
<div id="leftdiv">
    <h3>Corrections</h3>
    <ng-container *ngFor="let t of Travails">

        <a [href]="t.lien"  target="_blank">{{t.nom}}</a>
<p style="border-bottom: 1px solid black">déposer par {{getEtudiantname(t.etudiantid)}} </p>
    </ng-container>
   


   
</div>
<div id="deposerdiv">
    <div>
<h5>Déposer une Correction</h5>
<form (ngSubmit)="addCorrection(f)" #f="ngForm">
        
    <div class="form-group ml-4">
    <input id="nom" ngModel name="nom" #nom="ngModel" type="text" class="form-control" placeholder="nom fichier" required>
    <div class="alert alert-danger" *ngIf="nom.invalid && nom.touched">le nom de fichier est obligatoire</div>
    </div>      
    <div class="form-group ml-4">
        <label for="travail">Travail</label>
        <br>
        <select   [(ngModel)]='travailid' name="travailid"  class="form-control" >
            <option *ngFor="let t of Travails" [value]="t.id">{{t.nom}}</option>
            <option value="def" >choisir un travail</option>

            </select>
    </div>      

            <div class="form-group ml-4">
    <input id="file" type="file" ngModel name="file" required #file> <br><br>
    <input type="submit" value="Déposer" class="btn btn-secondary" [disabled]="f.invalid">
</div>
<br>
<div class="alert alert-success" *ngIf="msgsucc">
  {{ msgsucc }}
</div>

</form>
</div>
</div>
</div>