<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a><i class="fas fa-home"></i>Statistiques</a></li>
            <li><a ><i class="fas fa-user"></i>Liste des utilisateurs</a></li>
            <li><a ><i class="fas fa-address-card"></i>Forum</a></li>
           
        </ul> 
       
    </div>
    <div class="main_content">
        <div class="header">Welcome,{{getadminName()}}</div>  
        <div class="info">
            <div>La liste des utilisateurs</div>
            <table class="table">
                <thead>
           
                <tr>
                    <th>nom</th>
                    <th>Email</th>
                    <th>type utilisateur</th>
                    <th></th>
                </tr>
            </thead>
            <tbody >
                    <tr *ngFor="let u of Users">
                        <td>{{u.name}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.type}}</td>
                        <td>
                            <a class="btn btn-danger" role="button" >supprimer</a>
                        </td>
                      
                    </tr>
                    
                </tbody>
            </table>

         </div>
    </div>
</div>

</body>
</html>