#MainContainer{
    display : flex;
    flex-direction: column;
    background-color:rgb(240, 230, 209);
    margin-left : 15vw;
    margin-top:10vh;
    align-items: center;
    font-size: 1vw;
    height : 90vh
}

#pub{
    width : 65vw;
}
#publication{
    
    background-color: rgb(238, 217, 186);
    margin : 1vw;
    font-size: 2vw;
    padding : 1vw;
    width : 60vw;
    border-radius: 10px;
    position: relative;
    left : -8vw;
    transition: 0.5s all;
}
#titre{
    font-weight : bold;
}
#description{
    margin-left: 5vw;
}
#Comment{
    position: absolute;
    right : 5vw;
    bottom : 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
#nbComment{
    position : absolute;
    font-size: 1vw;
    align-self: flex-end;
}
#AjoutCom{
    display: flex;
    justify-content:center ;
    align-items: center;
    float: right;
    position: relative;
    bottom : 13vh;
    width: 9vw;
    font-size: 0.7vw;
}
#commentaire{
    background-color: rgb(177, 177, 177);
    width : 40vw;
    display: flex;
    align-items: center;
    padding: 1vw;
    font-size: 1.5vw;
    border-radius: 10px;
    margin : 1vw;
}
#return{
    margin-right: 70vw;
    margin-top: 15vh;
}