<app-homeetud></app-homeetud>
<div id="MainContainer">
    <h1>les Qcms</h1>

            <div id="Qcm" *ngFor="let q of QCMs" class="list-group-item"  >
                    Nom Qcm : {{q.nom}}<br>
                    Matiere : {{q.matiere}}<br>
                    Date : {{q.dateqcm.toDate()| date:'dd/MM/yyyy'}}<br>
                    Créer par : {{getcurrName(q.ensid)}}<br>
                    nombre de questions: {{q.questions.length}}<br>
                    <button id="RepondQCM" type="button" class="btn btn-dark" [routerLink]="['/repondreqcm',q.id]">Repondre</button>
                    

         </div>
</div>